*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
}

body {
    background-color: #1B1D24;
    color: #fff;
    padding: 20px;
}

.title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    background-color: rgba(94, 157, 11, 0.473);
    border-radius: 10px;
}

.contenedor{
    min-height: calc(100vh - 140px);
}

label, input{
    display: block
}

label{
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    border: 2px solid rgba(94, 157, 11, 0.473);
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    background: transparent;
    color: #fff;
    outline: none;
}


.billettes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.billettes div img{
    border-radius: 0 20px;
}
.billettes div{
    margin: 20px;
    text-align:center;
}

.valor-total{
    height: 150px;
    width: 400px;
    border: 2px solid rgba(94, 157, 11, 0.473);
    border-radius: 20px;
    text-align: center;
}

h4{
    line-height: 180px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    line-height: 150px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btns{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.btns button{
    margin: 15px;
    font-size: 27px;
    padding: 20px;
    border-radius: 15px;
    outline: none;
    border: 2px solid rgba(94, 157, 11, 0.473);
    background: transparent;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    transition: all 0.3s;
}

.btns button:hover{
    cursor: pointer;
    background: rgba(94, 157, 11, 0.473);
    border: 2px solid #272e47;
    color: #272e47;
}

.footer {
    background-color: rgba(94, 157, 11, 0.473);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
}