* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-image: url("../img/icons/bg.jpg");
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 42, 245);
    padding: 20px 20px;
    gap: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header a {
    text-decoration: none;
    color: #ffff;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header a:hover {
    color: rgb(20, 42, 245);
    border: 2px solid #fff;
    background-color: #fff;
    text-decoration: underline;
}

.bg-color {
    background-color: #1d3449de;
}

.contenedor {
    min-height: calc(100vh - 140px);
}

label,
input {
    display: block;
}

label {
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

input {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    font-size: 25px;
    padding-left: 5px;
    width: 150px;
    background: transparent;
    color: #fff;
    outline: none;
    font-family: monospace;
}

.billettes,
.monedas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.monedas div {
    margin: 0 10px;
    text-align: center;
}

.billettes div img {
    border-radius: 3px 15px;
}

.billettes div {
    margin: 10px;
    text-align: center;
}

.arqueo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.caja-menor,
.vales-saldo,
.sistema-saldo,
.balance-final {
    min-width: 250px;
    border: 1px solid #ffffff;
    font-size: 35px;
    border-radius: 7px;
    padding: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h4 {
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
    font-size: 35px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.balance {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.btns button {
    margin: 15px;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    border: 2px solid rgba(40, 186, 206, 0.568);
    background: transparent;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    transition: all 0.3s;
}

.btns button:hover {
    cursor: pointer;
    background: rgba(40, 186, 206, 0.568);
    border: 2px solid #ffffff;
    color: #23346e;
}

.footer {
    background-color: rgb(20, 42, 245);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family: monospace;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}