* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-image: url("../img/icons/bg.jpg");
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 42, 245);
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1{
    text-transform: uppercase;
}
header a {
    text-decoration: none;
    color: #ffff;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header a:hover {
    color: rgb(20, 42, 245);
    border: 2px solid #fff;
    background-color: #fff;
    text-decoration: underline;
}

.bg-color {
    background-color: #1d3d4996;
}

.contenedor {
    min-height: calc(100vh - 99px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor div button{
    font-size: 25px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    background-color: rgba(4, 27, 240, 0.856);
    padding: 7px 15px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor div button:hover{
    cursor: pointer;
    font-size: 25px;
    border: 2px solid rgba(4, 27, 240, 0.856);
    background-color: #ffffff;
    color: rgba(4, 27, 240, 0.856);
}
form{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(4, 27, 240, 0.856);
}
form h3{
    font-size: 25px;
}
form p{
    font-size: 20px;
}
form div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
label {
    display: inline-block;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    width: 150px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
}

input {
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    font-size: 18px;
    padding: 5px;
    width: 350px;
    background: transparent;
    color: #fff;
    outline: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.footer {
    background-color: rgb(20, 42, 245);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family: monospace;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}